/*
Colors used:
Primary Color (Black): #151515;
Secondary Color (Dark Grey): #535458;
Grey: #898b93
Light Grey: #c1c3cb
Pink: #e2d5d1
Blue #497cff
*/
header {
    background-color: #ffffff;
    text-align: center;
    padding:10px 0;
    border-bottom: 0.5px solid #000000;
    position: fixed;
    width: 100%;
}
main {
    padding-top: 116.81px
}
body {
    background-color:#ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal; 
}
h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: normal;
    color: #000000
}
h2 {
    font-family: Nunito, sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12em;
    color: #000000
}
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: normal;
    color: #000000
}
h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.0em;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.06em;
    color: #000000
}
h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    line-height: normal;
    color: #000000
}
.h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    line-height: normal;
    color: #000000
}
img {
    width: 100%
} 

/* Layout Styling */
.container {
    padding: 0 16px
}

#work .row {padding-bottom: 32px;}

#work {
    padding-bottom: 16px;
}

#hero h1,.h5 {
    text-align: center;
}

.logo {
    max-width: 150px;
    text-align: center;
    padding: 25px 0px;
    margin: 0px 16px;
}

nav>ul {
    list-style-type: none;
    padding: 0 16px;
    /*margin: 0px 16px;*/
}
nav>ul>li {
    display: inline-block;
}
nav>ul>li>a {
    padding: 0 15px;
    color: #000000;
}
nav {
    display: inline-block;
    width: 100%;
}
/* HERO SECTION */
#hero {
    background-color: #ffffff;
    padding: 20px 0px;
    display: inline-block;
    width: 100%;
    margin: 0px;
  }
#hero h1 {
    margin: 0px;
}
#hero .h5 {
    text-align: center;
    margin: 8px 0px 0px 0px;
}

/* WORK SECTION */
#work h3 {
    text-align: center;
}
#work h2 {
    padding-top: 8px;
    margin: 0px
}
#work p {
    margin: 0px;
    padding-top: 4px;
    padding-bottom: 12px;
}

/***** ABOUT PAGE *****/
.jenny {
    max-width: 226px;
    display: block;
    margin: 0 auto;
}
.fruit {
    max-width:90px;
}
.fruitright {
    max-width: 90px;
    transform: scalex(-1)
}
h3.col {
    padding: 8px 0;
    box-sizing: border-box;
    width: 132px;

}
.abouttitle {
    box-sizing: border-box;
    width: 312px;
    height: 48px;
    margin: 0 auto;
    padding: 0;
}
.col {
    float: left;
    width: 33.33%;
    padding: 0px;
  }

#hero h3 {
    text-align: center;
    margin: 0;
}
#about {
    text-align: center;
}

#about h4 {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 6px;
}
.skills {
    padding-top: 48px;
    padding-bottom: 48px;
}
.skills h3 {
    margin: 0;
    padding-bottom: 20px;
}
.tools {
    margin: 0;
    padding-top: 12px;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: inline-block;
}
#about .solid {
    border-style:solid;
    border-width:2px;
    border-color: #e2d5d1;
    padding: 16px 24px;
    margin: 0 60px;
    margin-bottom: 24px;
}

#about h4 {
    display: inline-block;
}

.skill {
    display: inline-block;
}


/***** MINDFUL EATS PROJECT PAGE *****/
#workcontent h1 {
    margin: 0;
    padding-top: 32px;
}

#workcontent h3 {
    color:#535458;
    margin: 0 -16px;
    padding-top: 40px;
    padding-bottom: 6px;
    padding-left: 16px;
    border-bottom: 1px solid #e2d5d1;
    margin-bottom: 24px; /**?**/
}
#workcontent h4 {
    margin: 0;
    padding-top:0;
    padding-bottom:6px;
}
#workcontent .descript picture {
    margin: 0 -16px;
    display:block;
}
.descript p {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 16px;
}

.projectinfo { /* Date, Role, Tools */
    color:#535458;
    font-size: 0.9em;
    padding-bottom: 24px;
}

#workcontent .projectinfo {
    list-style-type: none;
    margin: 0;
}

.overview p {
    margin: 0;
    padding-bottom: 16px;
}

.overview .h4 {
    text-decoration:underline;
    padding-bottom: 6px;
}

.title, .title1 {
    background-color:#e2d5d1;
    margin: 24px -16px;
    padding: 32px 16px;
    text-align: center;
}

.titlealt {
    background-color:#e2d5d1;
    margin: 24px -16px 0px;
    padding: 32px 16px;
    text-align: center;
}

.titlealt2 {
    background-color:#e2d5d1;
    margin: 0px -16px 24px;
    padding: 32px 16px;
    text-align: center;
}

#workcontent ul {
    list-style-type: disc;
    margin: 0 16px;
}

#features p {
    padding-bottom: 6px;
}

#features>ul {
    list-style-type: disc;
    margin: 0 16px;
}

.food52 {
    max-width: 116px;
    display: block;
    margin: 0 auto;
}

.kslogo {
    max-width: 193px;
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    /*border-bottom: 0.5px solid #c1c3cb;*/
}

hr.solid {
    border-top: 0.5px solid #c1c3cb;
    margin-top: 12px;
    margin-bottom: 0;
  }

#workcontent .competitiveanalysis h4 {
    padding-top: 16px;
    padding-bottom:0px;
}

/* WIREFRAMES */
.wireframes {
    background-color: #151515;
    margin: 0 -16px;
}

.wireframeimg {
    padding-bottom: 32px;
    margin: 0 16px;
}

/* DESIGN */
.colorpalette {
    background-color: #151515;
    padding: 48px 24px;
    margin: 0 -16px;
}

.textstyles.row {
    padding: 32px 0;
    margin: 0 20px;
}
.icons {
    padding-top: 16px;
} /* ?????? *?

/* prototype */

.prototype {
    background-color: #151515;
    color: #e2d5d1; /* needed to override the default link color */
    font-size: 14px;
    margin: 0 -16px;
    padding: 32px 16px;
}

.prototype h4 {
    color: #ffffff;
    text-decoration: underline;
    text-align:center;
}

.prototype ul {
    padding-top:12px;
    padding-bottom:24px;
}

.prototype>ul>li {
    padding-bottom: 6px;
}

.box {        /*before-after chips */
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 12px;
    text-align: center;
}

.row p {
    margin: 0;
    padding-bottom: 6px;
}

/*.desktopimg {
    max-width: 128px;
}

.mobileimg {
    max-width: 156px;
} */
.before img {
    padding-top: 12px;
}
.after img {
    padding-top: 12px;
}

* {
    box-sizing: border-box;
  }

.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

/* mockups */
#workcontent .mockups {
    background-color: #151515;
    color: #ffffff;
    margin: 0 -16px;
}

.mobilemockup {
    max-width: 233px;
    margin: 0 auto;
}

#workcontent .mockups .h4alt {
    border-top: none;
    padding-bottom: 6px;
    color: #ffffff;
}

#workcontent .mockups h4 {
    border-top: 1px solid #c1c3cb;
    padding: 24px 16px 10px;
    margin-top: 20px;
    color: #ffffff;
}

.mockups p {
    padding: 0 16px 16px 16px;
    margin: 0;
}

.mockups.responsive {
    margin: 0 16px;
}

.imgfullspan {
    margin: 0 -16px;
    margin-top: 16px;
}

.h44 {
    border-bottom: 1px solid #151515;
    padding-bottom:0;
}

.thankyou {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 60px;
}

/****************** FOOTER ********************/
footer {
    background:#e2d5d1;
    padding-top: 32px;
    padding-bottom: 20px
}

footer {
    text-align: center;
}

footer h3 {
    margin: 0px;
}

#social {
    padding-top: 32px;
    padding-bottom: 16px;
    margin: 0px;
}
#social>ul {
    list-style-type: none;
}
#social>ul>li {
    display: inline-block;
}
#social>ul>li>a {
    padding: 0 12px;
    color: #000000;
}

  /* LINKS */
a {
    color: #497cff;
    text-decoration: none; /* No underlining */
}
nav>ul>li>a:visited {
    color: purple;
}
nav>ul>li>a:active { /*selected link*/
    color: #994c30
}    
nav>ul>li>a:hover,
a:focus {
    opacity: 0.8;
    text-decoration: underline; /* Underlining when hovering over a link */
}

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #69848c;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    transition-duration: 0.2s opacity;
}
.button:hover {
    opacity: 0.8;
}

/**************** MEDIA QUERIES ******************/

/* Medium devices */
@media only screen and (min-width: 640px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }
    nav {
      width: auto;
      float: right;
      margin-top: 22px;
    }
    main {
        padding-top: 108.31px
    }
    
    .col-md-6 {
        width: 50%;
    }
    [class*="col-"] {
        float: left;
        padding: 10px;
    }
    .row::after {
        content: "";
        clear:both;
        display:table;
    } 
    .skills {
        box-sizing: border-box;
        width: 468px;
        height: 376px;
        margin: 0 auto;
    } 

    #about .col-md-6 {
        box-sizing: border-box;
        width: 218px;
        height: 220px;
        padding: 16px 24px; 
    }

    #about .left {
        margin: 0;
        position: relative;
    }
    #about .right {
        margin: 0;
        position: relative;
        left: 32px;
    }
    .textstyles.row {
        display: block;
        margin: 0 auto;
    }
    img.six {
        width: 60%;
        display: block;
        margin: 0 auto;
    }
}
  

/***** Large devices *****/
@media only screen and (min-width: 1024px) {

    /* Home Page & General Styling */
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }

    [class*="col-"] {
        float: left;
        padding: 10px;
    }
    .row::after {
        content: "";
        clear:both;
        display:table;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    body {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
    }

/********* L ABOUT *********/
        .skills {
            box-sizing: border-box;
            width: 528px;
            height: 400px;
            margin: 0 auto;
        } 
    
        #about .col-md-6 {
            box-sizing: border-box;
            width: 240px;
            height: 244px;
            padding: 16px 24px; 
        }
    
        #about .left {
            margin: 0;
            position: relative;
        }
        #about .right {
            margin: 0;
            position: relative;
            left: 48px;
        }


    /***** L MINDFUL EATS PROJECT PAGE ****/

    #workcontent .descript picture {
        margin: 0px;
        display:block;
    }
    .title {
        background-color:#e2d5d1;
        margin: 80px 0 24px 0;
        padding: 32px 16px;
        text-align: center;
    }
    .title1 {
        background-color:#e2d5d1;
        margin: 32px 0 24px 0;
        padding: 32px 16px;
        text-align: center;
    }
    #workcontent h3 {
        margin: 0px;
        padding-top: 60px;
        padding-bottom: 6px;
        padding-left: 0;
        border-bottom: 1px solid #e2d5d1;
        margin-bottom: 24px; /**?**/
        text-align: center;
    }

/* Research - competitive analysis */
    #research .row {
        box-sizing:border-box;
        width: 1048px;
        height: 532px;
        margin: 0 auto;
    }
    .competitiveanalysis.col-lg-6 {
        box-sizing: border-box;
        border: 2px solid #e2d5d1;
        width: 500px;
        height: 532px;
        padding: 16px 24px; 
        margin: 0;
    }
    #research .left {
        margin: 0;
        position: relative;
    }
    #research .right {
        margin: 0;
        position: relative;
        left: 48px;
    }
    img.kslogo {
        margin: 0 auto;
    }
    .col-lg-6 {
        width: 50%;
    }
    .row::after {
        content: "";
        clear:both;
        display:table;
    }
    .quote {
        width: 60%;
        display: block;
        margin: 0 auto;
        padding-bottom: 16px;
    }


/* WIREFRAMES */
/*    img.wireframe {
        max-width: 200px;
    }
    .wireframes.wireframeimg.col-lg-6 {
        width: 50%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
*/
    .wireframeimg {
        width: 50%;
    }

    .wireframeimg {
        float: left;
    }

    .row::after {
        content: "";
        clear:both;
        display:table;
    }

/* DESIGN */
    .colorpalette {
        width: 100%;
        background-color: #151515;
        padding: 48px 140px;
        margin: 0 auto;
    }
    .textstyles img {
        width: 100%;
        background-color: #ffffff;
        padding-top: 32px;
        display: block;
        margin: 0 auto;
    }
    .icons img {
        padding-top: 140px;
        padding-left: 60px;
    }
/* Prototyping & Validation */
    .prototype img {
        width: 50%;
    }
    
/*
    [class*="col-"] {
        float: left;
        padding: 0px;
    }
    .column {
        float: left;
        width: 50%;
        padding: 5px;
      }
      .prototype p {
        display: inline-block;
        font-size: 18px;
      }

      .prototype h4 {
        font-size: 18px;
      }
    
    div.box {
        box-sizing: border-box;
    }
    div.row {
        box-sizing: content-box;
    }
    p.box {
        display: inline-block;
    }

    .responsivedesignimg {
        width: 80%;
  }
    

    /*.prototype .row {
        display: inline-block;
    }

    .prototype.column {
        box-sizing: border-box;
        width: 264px;
        height: 714px;
    }

    .desktopimg p {
        box-sizing: border-box;
        width: 300px;
        height: 800px;
        margin: 0;
        position: relative;  
    }  

    .desktopimg picture {
        margin: 0;
        position: relative;
        bottom: 16px;
    }
    /*  .prototype .column {
        box-sizing: border-box;
        width: 264px;
        height: 714px;
        padding: 16px 24px; 
    }

    } */

    /* MOCKUPS */
    img.responsive {
        display: block;
        margin: 0 auto;
        padding: 32px 0;
    }

    img.six {
        width: 50%;
    }
}
   


/* XL devices */
@media only screen and (min-width: 1440px) {
}

/* animation */
.berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad}
    100% {fill: #f76414}
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}
