/*
Colors used:
Primary Color (Black): #151515;
Secondary Color (Dark Grey): #535458;
Grey: #898b93
Light Grey: #c1c3cb
Pink: #e2d5d1
Blue #497cff
*/
header {
    background-color: #ffffff;
    text-align: center;
    padding:10px 0;
    border-bottom: 0.5px solid #000000;
    position: fixed;
    width: 100%;
}
main {
    padding-top: 116.81px
}

body {
    background-color:#ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal; 
}
h1 {
    font-family: Nunito Sans, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: normal;
    color: #000000
}
h2 {
    font-family: Nunito, sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12em;
    color: #000000
}
h3 {
    font-family: Playfair Display, serif;
    font-size: 1.25em;
    font-weight: 600;
    line-height: normal;
    color: #000000
}

h4 {
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.06em;
    color: #000000
}
h5 {
    font-family: Nunito Sans, sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    line-height: normal;
    color: #000000
}
.h5 {
    font-family: Nunito Sans, sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    line-height: normal;
    color: #000000
}

img {
    width: 100%
}

/* Layout Styling */
.container {
    padding: 0 16px
}

#work .row {padding-bottom: 32px;}

#work {
    padding-bottom: 16px;
}

#hero h1,.h5 {
    text-align: center;
}

.logo {
    max-width: 150px;
    text-align: center;
    padding: 25px 0px;
}

nav>ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
}
nav>ul>li {
    display: inline-block;
}
nav>ul>li>a {
    padding: 0 15px;
    color: #000000;
}
nav {
    display: inline-block;
    width: 100%;
}
/* HERO SECTION */
#hero {
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    margin: 0px;
  }
#hero h1 {
    margin: 0px;
}
#hero .h5 {
    text-align: center;
    margin: 8px 0px 0px 0px;
}

/* WORK SECTION */
#work h3 {
    text-align: center;
}
#work h2 {
    padding-top: 8px;
    margin: 0px
}
#work p {
    margin: 0px;
    padding-top: 4px;
    padding-bottom: 12px;
}

/* ABOUT */
.jenny {
    max-width: 226px;
    display: block;
    margin: 0 auto;
}
#hero h3 {
    text-align: center;
    margin: 0;
}

#about {
    text-align: center;
}

#about h4 {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 6px;
}
.skills {
    padding-top: 32px;
    padding-bottom: 32px; 
}

.skills h3 {
    margin: 0;
    padding-bottom: 20px;
}

.tools {
    margin: 0;
    padding-top: 12px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

/* MINDFUL EATS Project Page */
#workcontent h1 {
    margin: 0;
    padding-top: 32px;
}

#workcontent h3 {
    color:#535458;
    margin: 0 -16px;
    padding-top: 40px;
    padding-bottom: 6px;
    padding-left: 16px;
    border-bottom: 1px solid #e2d5d1;
    margin-bottom: 24px; /**?**/
}
#workcontent h4 {
    margin: 0;
    padding-top:0;
    padding-bottom:6px;
}

.descript p {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 16px;
}

.projectinfo { /* Date, Role, Tools */
    color:#535458;
    font-size: 0.9em;
    padding-bottom: 24px;
    list-style-type: ;
}
.overview p {
    margin: 0;
    padding-bottom: 16px;
}

.title {
    background-color:#e2d5d1;
    margin: 24px -16px;
    padding: 32px 16px;
    text-align: center;
}

.titlealt {
    background-color:#e2d5d1;
    margin: 24px -16px 0px;
    padding: 32px 16px;
    text-align: center;
}

.titlealt2 {
    background-color:#e2d5d1;
    margin: 0px -16px 24px;
    padding: 32px 16px;
    text-align: center;
}

#workcontent ul {
    list-style-type: disc;
    margin: 0 16px;
}

#features p {
    padding-bottom: 6px;
}

#features>ul {
    list-style-type: disc;
    margin: 0 16px;
}

.food52 {
    max-width: 116px;
    display: block;
    margin: 0 auto;
}

.kslogo {
    max-width: 193px;
    padding-bottom: 8px;
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    border-bottom: 0.5px solid #c1c3cb;
}
#workcontent .competitiveanalysis h4 {
    padding-top: 16px;
    padding-bottom:0px;
}

.wireframes {
    background-color: #151515;
    margin: 0 -16px;
}

.wireframeimg {
    padding-bottom: 32px;
    margin: 0 16px;
}

/* design */
.colorpalette {
    padding-bottom: 32px;
    margin: 0 -16px;
}
.textstyles {
    padding-bottom: 32px;
    margin: 0 20px;
}

/* prototype */

.prototype {
    background-color: #151515;
    color: #e2d5d1; /* needed to override the default link color */
    font-size: 14px;
    margin: 0 -16px;
    padding: 32px 16px;
}

.prototype h4 {
    color: #ffffff;
    text-decoration: underline;
    text-align:center;
}

.prototype ul {
    padding-top:8px;
    padding-bottom:16px;
}

.prototype>ul>li {
    padding-bottom: 6px;
}

.box {        /*before-after chips */
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 10px;
    text-align: center;
}

.row p {
    margin: 0;
    padding-bottom: 6px;
}

.desktopimg {
    max-width: 128px;
}

.mobileimg {
    max-width: 156px;
}

* {
    box-sizing: border-box;
  }

.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

/* mockups */

.mobilemockup {
    max-width: 233px;
    margin: 0 auto;
}

#workcontent .mockups .h4alt {
    border-top: none;
    padding-bottom: 16px;
}

#workcontent .mockups h4 {
    border-top: 1px solid #c1c3cb;
    padding-top: 12px;
    margin-top: 16px;
}

.mockups p {
    margin: 0;
    padding-bottom: 16px;
}

.imgfullspan {
    margin: 0 -16px;
    margin-top: 16px;
}

#workcontent .reflection h4 {
    border-bottom: 1px solid #151515;
}

.thankyou {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 60px;
}

/****************** FOOTER ********************/
footer {
    background:#e2d5d1;
    padding-top: 32px;
    padding-bottom: 20px
}

footer {
    text-align: center;
}

footer h3 {
    margin: 0px;
}

#social {
    padding-top: 32px;
    padding-bottom: 16px;
    margin: 0px;
}
#social>ul {
    list-style-type: none;
}
#social>ul>li {
    display: inline-block;
}
#social>ul>li>a {
    padding: 0 12px;
    color: #000000;
}

  /* LINKS */
a {
    color: #497cff;
    text-decoration: none; /* No underlining */
}
nav>ul>li>a:visited {
    color: purple;
}
nav>ul>li>a:active { /*selected link*/
    color: #994c30
}    
nav>ul>li>a:hover,
a:focus {
    opacity: 0.8;
    text-decoration: underline; /* Underlining when hovering over a link */
}

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #69848c;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 600;
    padding: 10px;
    border-radius: 6px;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

